body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}
#milk h3 {
  color: #ea1c2c;
  font-size: 2.5rem;
  font-weight: 100;
}
#milk p {
  color: #f498b8;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 2;
}
#mainNav {
  font-size: 1.5rem;
  font-family: 100;
}
#mainNav .navbar-brand {
  color: #ea1c2c;
}
#mainNav .nav-link {
  color: white;
}
#mainNav .nav-link:hover {
  color: #ea1c2c;
}
#headingGroup span {
  color: #ea1c2c;
}
#headingGroup h2 {
  font-weight: 100;
  font-size: 4rem;
}
@media (max-width: 1200px) {
  #headingGroup h2 {
    font-size: 3.2rem;
  }
}
